%link{:rel => "stylesheet", :type => "text/css", :href => "/css/check.css"}

#stats{:class => "col-md-9 pull-right main-content"}
  %button{:type => "button", :class => "btn btn-default btn-sm", :id => "collapseStats"}
    %span{:class => "glyphicon glyphicon-chevron-up"}
    Stats
    %span{:class => "glyphicon glyphicon-chevron-up"}
  #stats_field{:class => "jumbotron", :role => "stats"}
    #totals
      %span{:class => "label label-success"}= "OK: 0"
      %span{:class => "label label-warning"}= "Warning: 2"
      %span{:class => "label label-danger"}= "Critical: 2"
      %span{:class => "label label-primary"}= "Unknown: 1"
    #bar_graph{:class => "progress"}
      %div{:class => "progress-bar progress-bar-warning", :style => "width: 40%"}
      %div{:class => "progress-bar progress-bar-danger", :style => "width: 40%"}
      %div{:class => "progress-bar progress-bar-primary", :style => "width: 20%"}
#events{:class => "col-md-9 pull-right main-content"}
  .h4= "Events"
  %table{:class => "table table-hover"}
    %tr{:class => 'active'}
      %td= "Client"
      %td= "Check"
      %td= "Timestamp"
      %td= "Output"
    %tr{:class => "danger"}
      %td= "db1.akamai001"
      %td= "dbcore-status"
      %td= "2 hours ago"
      %td= "DOWN! It appears that dbcore is not up and not available"
    %tr{:class => "warning"}
      %td= "db13.julep"
      %td= "dbcore-in-lb"
      %td= "5 hours ago"
      %td= "db13 is not available on lb3.julep.cloudant.com and lb2.julep.cloudant.net"
    %tr{:class => "warning"}
      %td= "monitor.dal"
      %td= "redis db unavailable"
      %td= "3 days ago"
      %td= "Redis process is not running!"
    %tr{:class => "danger"}
      %td= "db3.mysatori001"
      %td= "dbcore-bacon"
      %td= "3 months ago"
      %td= "bacon is running on db3.mysatori001"
    %tr{:class => "primary"}
      %td= "db2.pearson001"
      %td= "dbcore-bacon"
      %td= "1 minute ago"
      %td= "Erl_Call Unknown: Unable to connect to dbcore@localhost"

%script{:type => "text/javascript", :src => "/js/check.js"}
