%link{:rel => "stylesheet", :type => "text/css", :href => "/css/events.css"}

%div{:class => "row"}
  #client{:class => "col-md-6 panel panel-primary"}
    %div{:class => "panel-heading"}="#{locals[:client]}"
    %div{:class => "panel-body"}
      %table{:class => "table"}
        %tr
          %td="Address"
          %td="198.168.101.11"
        %tr
          %td="Subscriptions"
          %td="base_linux, base, all, db_leader, dbcore_linux"
  #actions{:class => "col-md-5 panel panel-primary"}
    %div{:class => "panel-heading"}="Actions"
    %div{:class => "panel-body"}
      %button{:type => "button", :class => "btn btn-warning btn-sm unsilence", :id => "#{locals[:client]}"}
        %span{:class => "glyphicon glyphicon-volume-up"}
        Unsilence
      %button{:type => "button", :class => "btn btn-danger btn-sm delete", :id => "#{locals[:client]}"}
        %span{:class => "glyphicon glyphicon-remove"}
        Delete

%div{:class => "row"}
  #events{:class => "col-md-12 panel panel-primary"}
    %div{:class => "panel-heading"}="Current State"
    %div{:class => "panel-body"}
      %table{:class => "table table-hover"}
        %tr{:class => 'active'}
          %td= "Client"
          %td= "Check"
          %td= "Timestamp"
          %td= "Output"
        %tr{:class => "success"}
          %td= "db1.akamai001"
          %td= "ssh-auth"
          %td= "13 days ago"
          %td= "OK"
        %tr{:class => "success"}
          %td= "db1.akamai001"
          %td= "dbcore-in-lb"
          %td= "2 months ago"
          %td= "db1.akamai001 is available on lb1.akamai001"
        %tr{:class => "danger"}
          %td= "db1.akamai001"
          %td= "dbcore-status"
          %td= "2 hours ago"
          %td= "DOWN! It appears that dbcore is not up and not available"
        %tr{:class => "success"}
          %td= "db1.akamai001"
          %td= "disk_usage"
          %td= "7 months ago"
          %td= "OK: Disk at 47% on / partition"

%div{:class => "row"}
  #events{:class => "col-md-12 panel panel-primary"}
    %div{:class => "panel-heading"}="History"
    %div{:class => "panel-body"}
      %table{:class => "table table-hover"}
        %tr{:class => 'active'}
          %td= "Client"
          %td= "Check"
          %td= "Timestamp"
          %td= "Output"
        %tr{:class => "success"}
          %td= "db1.akamai001"
          %td= "ssh-auth"
          %td= "13 days ago"
          %td= "OK"
        %tr{:class => "success"}
          %td= "db1.akamai001"
          %td= "dbcore-in-lb"
          %td= "2 months ago"
          %td= "db1.akamai001 is available on lb1.akamai001"
        %tr{:class => "danger"}
          %td= "db1.akamai001"
          %td= "dbcore-status"
          %td= "2 hours ago"
          %td= "DOWN! It appears that dbcore is not up and not available"
        %tr{:class => "success"}
          %td= "db1.akamai001"
          %td= "disk_usage"
          %td= "7 months ago"
          %td= "OK: Disk at 47% on / partition"

%script{:type => "text/javascript", :src => "/js/events.js"}
