%link{:rel => "stylesheet", :href => "/css/events.css"}

%div{:class => "row", 'ng-controller' => 'eventsController'}
  #search{:class => 'col-md-12 pull-right main-content'}
    %div{:class => "panel panel-primary"}
      %div{:class => "panel-heading"}
        %button{:type => "button", :class => "btn btn-primary btn-xs", :id => "collapseStats", "data-toggle" => "collapse", "data-target" => "#search_field"}="Search"
    #search_field{:role => "search", :class => "collapse in"}
      %div{:class => "panel-body"} 
        %form{:role => 'search'}
          .form-group{:class => 'form-group'}
            %input{:style => "width: 75%", :type => 'text', :class => 'form-control', :placeholder => 'Search', 'ng-model' => 'search_field', :value => 'client:cheftest001', :id => 'search_input'}
          %input{:type => 'submit', :class => 'btn btn-default sr-only', 'ng-click' => 'updateEvents()'}

  #stats{:class => "col-md-12 pull-right main-content"}
    %div{:class => "panel panel-primary"}
      %div{:class => "panel-heading"}
        %button{:type => "button", :class => "btn btn-primary btn-xs", :id => "collapseStats", "data-toggle" => "collapse", "data-target" => "#stats_field"}="Stats"
    #stats_field{:role => "stats", :class => "collapse in"}
      %div{:class => "panel-body"}
        #totals
          %span{:class => "label label-success"}= "OK: 0"
          %span{:class => "label label-warning"}= "Warning: 2"
          %span{:class => "label label-danger"}= "Critical: 2"
          %span{:class => "label label-info"}= "Unknown: 1"
        #bar_graph{:class => "progress"}
          %div{:class => "progress-bar progress-bar-warning", :style => "width: 40%"}
          %div{:class => "progress-bar progress-bar-danger", :style => "width: 40%"}
          %div{:class => "progress-bar progress-bar-info", :style => "width: 20%"}

  #events{:class => "col-md-12 pull-right main-content"}
    %div{:class => "panel panel-primary"}
      %div{:class => "panel-heading"}
        %button{:type => "button", :class => "btn btn-primary btn-xs", :id => "collapseStats", "data-toggle" => "collapse", "data-target" => "#events_field"}="Events"
        %div{:class => 'pull-right'}
          %span{:class => 'view'}= "View"
          %select{:id => 'limit'}
            %option{:value => '10'}= '10'
            %option{:value => '20'}= '20'
            %option{:value => '50', :selected => "selected"}= '50'
            %option{:value => '100'}= '100'
            %option{:value => '200'}= '200'
            
    #events_field{:role => "events", :class => "collapse in"}
      %ul{:class => "list-group"}
        %div{:class => 'text-center', 'ng-hide' => 'events.length'}= "No Events"
        %li{:class => "list-group-item", 'ng-repeat' => 'event in events'}
          %div{:class => "row"}
            %div{:class => "panel"}
              %div{:class => "panel-heading flat-heading event_line", :panel => "{{event.id}}"}
                %div{:class => "event-status pull-left img-rounded btn-{{event.color}}", 'ng-click' => "toggleDetails(event.id)"}= "+"
                %div{:class => "col-xs-2 pull-left"}="{{event.client}}"
                %div{:class => "col-xs-3 pull-left"}="{{event.check}}"
                %div{:class => "col-xs-7 pull-left"}="{{event.short_output}} {{event.dotdotdot}}"
              %div{:class => "panel-body panel-collapse collapse", :id => "{{event.id}}"}
                %table{:class => "table table-striped"}
                  %tr
                    %td="Key"
                    %td="Actions"
                    %td="Value"
                  %tr
                    %td="Client"
                    %td
                      %button{:type => "button", :class => "btn btn-default btn-xs", :id => "silence/{{event.client}}/{{event.check}}"}
                        %span{:class => "glyphicon glyphicon-volume-off"}
                    %td="{{event.client}}"
                    
%script{:type => "text/javascript", :src => "/js/events.js"}
