#browse{:class => "col-md-3"}
  %button{:type => "button", :class => "btn btn-default btn-xs rotate collapseBrowserVisable", :id => "collapseBrowser"}
    %span{:class => "glyphicon glyphicon-chevron-down"}
    Browse
    %span{:class => "glyphicon glyphicon-chevron-down"}

  #browse_list{:class => "panel-group"}
    %div{:class => "panel panel-default"}
      %div{:class => "panel-heading"}
        .h4{:class => "panel-title"}
          %a{:class => "accordian-toggle", "data-toggle" => "collapse", "data-parent" => "browse_list", :href => "#collapseOne"}
            Client Name
      #collapseOne{:class => "panel-collapse collapse"}
        %div{:class => "panel-body"}
          %ul{:class => "list-group"}
            %li{:class => "list-group-item"}
              db1.akamai001
              %span{:class => "badge"}
                5
            %li{:class => "list-group-item"}
              db2.akamai001
              %span{:class => "badge"}
                3
            %li{:class => "list-group-item"}
              lb4.juelp
              %span{:class => "badge"}
                8
            %li{:class => "list-group-item"}
              monitor.dal
              %span{:class => "badge"}
                2
    %div{:class => "panel panel-default"}
      %div{:class => "panel-heading"}
        .h4{:class => "panel-title"}
          %a{:class => "accordian-toggle", "data-toggle" => "collapse", "data-parent" => "browse_list", :href => "#collapseTwo"}
            Check Name
      #collapseTwo{:class => "panel-collapse collapse"}
        %div{:class => "panel-body"}
          %ul{:class => "list-group"}
            %li{:class => "list-group-item"}
              dbcore-status
              %span{:class => "badge"}
                2
            %li{:class => "list-group-item"}
              dbcore-bacon
              %span{:class => "badge"}
                9
            %li{:class => "list-group-item"}
              disk_usage
              %span{:class => "badge"}
                9
    %div{:class => "panel panel-default"}
      %div{:class => "panel-heading"}
        .h4{:class => "panel-title"}
          %a{:class => "accordian-toggle", "data-toggle" => "collapse", "data-parent" => "browse_list", :href => "#collapseThree"}
            Status
      #collapseThree{:class => "panel-collapse collapse"}
        %div{:class => "panel-body"}
          %ul{:class => "list-group"}
            %li{:class => "list-group-item"}
              Warning
              %span{:class => "badge"}
                5
            %li{:class => "list-group-item"}
              Critical
              %span{:class => "badge"}
                9
            %li{:class => "list-group-item"}
              Unknown
              %span{:class => "badge"}
                6

#filters{:class => "col-md-9 pull-right main-content"}
  %button{:type => "button", :class => "btn btn-default btn-sm", :id => "collapseFilters"}
    %span{:class => "glyphicon glyphicon-chevron-up"}
    Filters
    %span{:class => "glyphicon glyphicon-chevron-up"}
  #filters_field{:class => "jumbotron", :role => "filters"}

#stats{:class => "col-md-9 pull-right main-content"}
  %button{:type => "button", :class => "btn btn-default btn-sm", :id => "collapseStats"}
    %span{:class => "glyphicon glyphicon-chevron-up"}
    Stats
    %span{:class => "glyphicon glyphicon-chevron-up"}
  #stats_field{:class => "jumbotron", :role => "stats"}
  
#events{:class => "col-md-9 pull-right main-content"}
  .h4= "Events"
  %table{:class => "table table-hover"}
    %tr{:class => 'active'}
      %td= "Client"
      %td= "Check"
      %td= "Timestamp"
      %td= "Output"
    %tr{:class => "danger"}
      %td= "db1.akamai001"
      %td= "dbcore-status"
      %td= "2 hours ago"
      %td= "DOWN! It appears that dbcore is not up and not available"
    %tr{:class => "warning"}
      %td= "db13.julep"
      %td= "dbcore-in-lb"
      %td= "5 hours ago"
      %td= "db13 is not available on lb3.julep.cloudant.com and lb2.julep.cloudant.net"
    %tr{:class => "warning"}
      %td= "monitor.dal"
      %td= "redis db unavailable"
      %td= "3 days ago"
      %td= "Redis process is not running!"
    %tr{:class => "danger"}
      %td= "db3.mysatori001"
      %td= "dbcore-bacon"
      %td= "3 months ago"
      %td= "bacon is running on db3.mysatori001"

%script{:type => "text/javascript", :src => "/js/events.js"}
