!!! 5
%html{:lang => "en", 'ng-app' => "sabisu"}
  %head
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"}
    %script{:src => "https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.min.js"}
    %script{:src => "http://cdn.craig.is/js/mousetrap/mousetrap.min.js"}
    %script{:src => "/js/base.js"}
    %script{:src => "/js/moment.js"}
    %script{:src => "https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"}
    %link{:rel => "stylesheet", :href => "/css/bootstrap.min.css"}
    %link{:rel => "stylesheet", :href => "/css/base.css"}
    %link{:rel => "stylesheet", :href => "/css/color.css"}
  %body
    #wrapper{:class => 'container'}
      #header
        .nav{:class => 'navbar navbar-default', :role => "navigation"}
          .navbar-header
            %a{:class => 'navbar-brand', "href" => "/"}= "Sabisu"
          %ul{:class => 'nav navbar-nav navbar-right'}
            - if logged_in?
              %li{:class => 'dropdown'}
                %a{"href" => "#", :target => '_self', :class => 'droptown-toggle', 'data-toggle' => 'dropdown'}
                  Events
                  %b{:class => "caret"}
                %ul{:class => 'dropdown-menu'}
                  %li
                    %a{"href" => "/events?sort=-age&limit=50&query=", :target => '_self'}= "Recent State Change"
                  %li
                    %a{"href" => "/events?sort=age&limit=50&query=", :target => '_self'}= "Stale State"
                  %li
                    %a{"href" => "/events?sort=-age&limit=50&query=status:1", :target => '_self'}= "Warning"
                  %li
                    %a{"href" => "/events?sort=-age&limit=50&query=status:2", :target => '_self'}= "Critical"
                  %li
                    %a{"href" => "/events?sort=-age&limit=50&query=status:3", :target => '_self'}= "Unknown"
              %li
                %a{'href' => '/logout', :target => '_self'}= "Logout"
            - else
              %li 
                %a{'href' => '/login', :target => '_self'}= "Login"  
      #content
        =yield
    #footer
      .copyright{:class => 'text-center'}
        © Copyright 
        %a{:href => "https://www.cloudant.com"}= "Cloudant, Inc."
        2014
        %a{:href => "http://www.apache.org/licenses/LICENSE-2.0.html"}= "Apache License, Version 2.0"
        %br
        %a{'data-toggle' => 'modal', 'data-target' => '#keyboard_shortcuts'}= "Keyboard Shortcuts"

%div{:class => 'modal fade', :id => 'keyboard_shortcuts'}
  %div{:class => 'modal-dialog'}
    %div{:class => 'modal-content'}
      %div{:class => 'modal-header'}
        %button{:type => "button", :class => "close", 'data-dismiss' => "modal", 'aria-hidden' => "true"}
        %h3{:class => 'modal-title'}= "Keyboard Shortcuts"
      %div{:class => 'modal-body'}
        %div
          %h4='Events'
          %table{:class => "table table-striped"}
            %tr
              %td="Description"
              %td="Shortcut"
            %tr
              %td="Show keyboard shortcuts"
              %td
                %span{:class => 'well well-sm'}="? (question mark)"
            %tr
              %td="Goto search query"
              %td
                %span{:class => 'well well-sm'}=". (period)"
            %tr
              %td="Select the sort dropdown"
              %td
                %span{:class => 'well well-sm'}="s"
            %tr
              %td="Press search button"
              %td
                %span{:class => 'well well-sm'}="enter"
      %div{:class => 'modal-footer'}
        %button{:type => 'button', :class => 'btn btn-default', 'data-dismiss' => 'modal'}= "Close"
        
