!!! 5
%html{:lang => "en", 'ng-app' => "sabisu"}
  %head
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"}
    %script{:src => "https://ajax.googleapis.com/ajax/libs/angularjs/1.2.8/angular.min.js"}
    %script{:src => "/js/base.js"}
    %script{:src => "//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"}
    %link{:rel => "stylesheet", :href => "/css/bootstrap.min.css"}
    %link{:rel => "stylesheet", :href => "/css/base.css"}
  %body
    #wrapper{:class => 'container'}
      #header
        .nav{:class => 'navbar navbar-default', :role => "navigation"}
          .navbar-header
            %a{:class => 'navbar-brand', "href" => "/"}= "Sabisu"
          %ul{:class => 'nav navbar-nav pull-right'}
            - if logged_in?
              %form{:class => 'navbar-form navbar-left', :role => 'search'}
                .form-group{:class => 'form-group'}
                  %input{:style => "width: 600px", :type => 'search', :class => 'form-control', :placeholder => 'Search', :id => 'search', :value => 'client:cheftest001'}
                %button{:type => 'submit', :class => 'btn btn-default sr-only'}
              %li
                %a{"href" => "/events"}= "Events"
              %li
                %a{'href' => '/logout'}= "Logout"
            - else
              %li 
                %a{'href' => '/login'}= "Login"  
      #content
        =yield
    #footer
      .copyright{:class => 'text-center'}
        © Copyright 
        %a{:href => "https://www.cloudant.com"}= "Cloudant, Inc."
        2014
        %a{:href => "http://www.apache.org/licenses/LICENSE-2.0.html"}= "Apache License, Version 2.0"
        
