!!! 5
%html{:lang => "en", 'ng-app' => "sabisu"}
  %head
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"}
    %script{:src => "https://ajax.googleapis.com/ajax/libs/angularjs/1.2.8/angular.min.js"}
    %script{:src => "/js/base.js"}
    %script{:src => "//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"}
    %link{:rel => "stylesheet", :href => "/css/bootstrap.min.css"}
    %link{:rel => "stylesheet", :href => "/css/base.css"}
  %body
    #wrapper{:class => 'container'}
      #header
        .nav{:class => 'navbar navbar-default', :role => "navigation"}
          .navbar-header
            %a{:class => 'navbar-brand', "href" => "/"}= "Sabisu"
          %ul{:class => 'nav navbar-nav navbar-right'}
            - if logged_in?
              %li{:class => 'dropdown'}
                %a{"href" => "#", :target => '_self', :class => 'droptown-toggle', 'data-toggle' => 'dropdown'}
                  Events
                  %b{:class => "caret"}
                %ul{:class => 'dropdown-menu'}
                  %li{:class => 'dropdown-header'}= 'All'
                  %li
                    %a{"href" => "/events?sort=age&limit=50&query=", :target => '_self'}= "Recent"
                  %li
                    %a{"href" => "/events?sort=-age&limit=50&query=", :target => '_self'}= "Old"
                  %li{:class => 'divider'}
                  %li{:class => 'dropdown-header'}= 'Problems'
                  %li
                    %a{"href" => "/events?sort=age&limit=50&query=status:[1 TO 3]", :target => '_self'}= "Recent"
                  %li
                    %a{"href" => "/events?sort=-age&limit=50&query=status:[1 TO 3]", :target => '_self'}= "Old"
              %li
                %a{'href' => '/logout', :target => '_self'}= "Logout"
            - else
              %li 
                %a{'href' => '/login', :target => '_self'}= "Login"  
      #content
        =yield
    #footer
      .copyright{:class => 'text-center'}
        © Copyright 
        %a{:href => "https://www.cloudant.com"}= "Cloudant, Inc."
        2014
        %a{:href => "http://www.apache.org/licenses/LICENSE-2.0.html"}= "Apache License, Version 2.0"
        
