!!! 5
%html{:lang => "en"}
  %head
    %script{:type => "text/javascript", :src => "https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"}
    %script{:type => "text/javascript", :src => "/js/base.js"}
    %script{:type => "text/javascript", :src => "//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"}
    %link{:rel => "stylesheet", :type => "text/css", :href => "/css/bootstrap.min.css"}
    %link{:rel => "stylesheet", :type => "text/css", :href => "/css/base.css"}
  %body
    #wrapper{:class => 'container'}
      #header
        .nav{:class => 'navbar navbar-default', :role => "navigation"}
          .navbar-header
            %a{:class => 'navbar-brand', "href" => "/"}= "Sabisu"
          %ul{:class => 'nav navbar-nav pull-right'}
            - if is_logged_in?
              %form{:class => 'navbar-form navbar-left', :role => 'search'}
                .form-group{:class => 'form-group'}
                  %input{:type => 'text', :class => 'form-control', :placeholder => 'Filter'}
                %button{:type => 'submit', :class => 'btn btn-default sr-only'}
              %li
                %a{"href" => "/events"}= "Events"
              %li
                %a{'href' => '/logout'}= "Logout"
            - else
              %li 
                %a{'href' => '/login'}= "Login" 
      #content
        =yield
      #footer{:class => "navbar navbar-fixed-bottom"}
        .copyright{:class => 'text-center'}
          © Copyright 
          %a{:href => "https://www.cloudant.com"}= "Cloudant, Inc."
          2013
          %a{:href => "http://www.apache.org/licenses/LICENSE-2.0.html"}= "Apache License, Version 2.0"
        
